polkit.addRule(function(action, subject) {
    if (subject.user == "gdm") {
        polkit.log("action=" + action);
        polkit.log("subject=" + subject);
        if (action.id.indexOf("org.freedesktop.login1.") == 0) {
            return polkit.Result.YES;
        }
        if (action.id.indexOf("org.freedesktop.UPower.") == 0) {
            return polkit.Result.YES;
        }
    }
});

// allow lightdm to change the user background upon login
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.DisplayManager.AccountsService.ModifyOwn" &&
      subject.isInGroup("users")) {
        return polkit.Result.YES;
    }
});
